<form [formGroup]="form" [bindGroupQueryParam]="bindOptions" novalidate>
  <app-filter-section
    title="One Hand Weapons"
    [items]="oneHandWeapons"
    [form]="oneHandWeaponsForm"
    [config]="oneHandWeaponsConfig"
  ></app-filter-section>
  <app-filter-section
    title="Two Hand Weapons"
    [items]="twoHandWeapons"
    [form]="twoHandWeaponsForm"
    [config]="twoHandWeaponsConfig"
  ></app-filter-section>
  <app-filter-section
    title="Shields"
    [items]="armourTypes"
    [form]="shieldsForm"
    [config]="shieldsConfig"
  ></app-filter-section>
  <app-filter-section
    title="Body Armours"
    [items]="armourTypes"
    [form]="bodyArmoursForm"
    [config]="bodyArmoursConfig"
  ></app-filter-section>
  <app-filter-section
    title="Helmets"
    [items]="armourTypes"
    [form]="helmetsForm"
    [config]="helmetsConfig"
  ></app-filter-section>
  <app-filter-section
    title="Boots"
    [items]="armourTypes"
    [form]="bootsForm"
    [config]="bootsConfig"
  ></app-filter-section>
  <app-filter-section
    title="Gloves"
    [items]="armourTypes"
    [form]="glovesForm"
    [config]="glovesConfig"
  ></app-filter-section>
  <app-filter-section
    title="Flasks"
    [items]="flasks"
    [form]="flasksForm"
    [config]="noSocketConfig"
  ></app-filter-section>
  <app-filter-section
    title="Belts"
    [items]="belts"
    [form]="beltsForm"
    [config]="noSocketConfig"
  ></app-filter-section>
  <app-filter-section
    title="Amulets"
    [items]="amulets"
    [form]="amuletsForm"
    [config]="noSocketConfig"
  ></app-filter-section>
  <app-filter-section
    title="Rings"
    [items]="rings"
    [form]="ringsForm"
    [config]="noSocketConfig"
  ></app-filter-section>
  <section>
    <h1>Currency recipes</h1>
    <div fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutGap="10px">
        <div class="label">Chromatics</div>
        <div
          formArrayName="chromaticSizes"
          *ngFor="let size of chromaticSizes; index as i"
        >
          <mat-checkbox formControlName="{{ i }}">
            {{ size.label }}
          </mat-checkbox>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <div class="label">Alteration shards (rare max size)</div>
        <div
          formArrayName="rareSizes"
          *ngFor="let size of rareSizes; index as i"
        >
          <mat-checkbox formControlName="{{ i }}">
            {{ size.label }}
          </mat-checkbox>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <div class="label">Quality gems</div>
        <mat-radio-group formControlName="qGems">
          <mat-radio-button
            *ngFor="let quality of qualities"
            [value]="quality"
            >{{ quality }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <div class="label">Quality flasks</div>
        <mat-radio-group formControlName="qFlasks">
          <mat-radio-button
            *ngFor="let quality of qualities"
            [value]="quality"
            >{{ quality }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
    </div>
  </section>
  <button type="button" mat-raised-button color="primary" (click)="generate()">
    Generate
  </button>
</form>
<pre>{{ script$ | async }}</pre>
