<form [formGroup]="form" [bindGroupQueryParam]="bindOptions" novalidate>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field appearance="fill">
      <input matInput formControlName="name" placeholder="Search by name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-select formControlName="class" placeholder="Item class">
        <mat-label>Item class</mat-label>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let class of classes$ | async" [value]="class">
          {{ class }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div
      formArrayName="armourTypes"
      *ngFor="let type of armourTypes; index as i"
    >
      <mat-checkbox formControlName="{{ i }}">
        {{ type.label }}
      </mat-checkbox>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-radio-group formControlName="sortProperty">
      <mat-radio-button
        *ngFor="let sortProperty of sortProperties"
        [value]="sortProperty"
        >{{ sortProperty }}</mat-radio-button
      >
    </mat-radio-group>
  </div>
</form>
<div *ngIf="items$ | async as items" class="item-results">
  <div *ngFor="let item of items">
    <div [innerHtml]="item.html"></div>
  </div>
</div>
