<section [formGroup]="form">
  <h1>{{ title }}</h1>
  <div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="10px">
      <div formArrayName="selection" *ngFor="let item of items; index as i">
        <mat-checkbox formControlName="{{ i }}">
          {{ item.label }}
        </mat-checkbox>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" *ngIf="config.sockets > 0">
      <div class="label">Minimum sockets</div>
      <mat-radio-group formControlName="minSockets">
        <mat-radio-button
          *ngFor="let socket of sockets"
          [value]="socket.number"
          >{{ socket.number }}</mat-radio-button
        >
      </mat-radio-group>
      <mat-radio-group formControlName="minSocketsHighlight" class="highlight">
        <mat-radio-button
          *ngFor="let output of outputs"
          [value]="output.value"
          [matTooltip]="output.tooltip"
          >{{ output.label }}</mat-radio-button
        >
      </mat-radio-group>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" *ngIf="config.sockets > 0">
      <div class="label">Minimum links</div>
      <mat-radio-group formControlName="minLinks">
        <mat-radio-button *ngFor="let link of links" [value]="link">{{
          link
        }}</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group formControlName="minLinksHighlight" class="highlight">
        <mat-radio-button
          *ngFor="let output of outputs"
          [value]="output.value"
          [matTooltip]="output.tooltip"
          >{{ output.label }}</mat-radio-button
        >
      </mat-radio-group>
    </div>
  </div>
</section>
